# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml

# TI Code Composer Studio
*.cmd
*.ccxml
/firmware/.jxbrowser-data/**
/firmware/.metadata/**
/firmware/RemoteSystemsTempFiles/**
**/.settings/**
**/.launches/
**/.config/
**/Debug/
**/Release/
*.xdchelp

# Ignore example file
/firmware/msp430fr211x_euscia0_uart_05.c/**
*.FCStd1

# OSX Files
*.DS_Store

software/17X_UART_Receiver/settings.ini
